### Question 6 -
Using the data from Question 3, write code to analyze the data and answer the following questions Note 
1. Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding

Insights to be drawn -

● Get all Pokemons whose spawn rate is less than 5%

● Get all Pokemons that have less than 4 weaknesses

● Get all Pokemons that have no multipliers at all

● Get all Pokemons that do not have more than 2 evolutions

● Get all Pokemons whose spawn time is less than 300 seconds.

Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.

● Get all Pokemon who have more than two types of capabilities

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline  
import warnings
warnings.filterwarnings('ignore')

In [3]:
pokemon = pd.read_excel("pokemon.xlsx")

In [4]:
pokemon.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"['Water', 'Ground', 'Rock']","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [5]:
# 1. Get all Pokemons whose spawn rate is less than 5%
pokemon[pokemon['avg_spawns']<5.0].groupby('name').size().reset_index()

          name  0
0   Aerodactyl  1
1     Alakazam  1
2     Arcanine  1
3     Articuno  1
4    Blastoise  1
..         ... ..
62   Vileplume  1
63   Wartortle  1
64     Weezing  1
65  Wigglytuff  1
66      Zapdos  1

[67 rows x 2 columns]

In [6]:
# 2. Get all Pokemons that have less than 4 weaknesses
pokemon['weaknesses']

0      ['Fire', 'Ice', 'Flying', 'Psychic']
1      ['Fire', 'Ice', 'Flying', 'Psychic']
2      ['Fire', 'Ice', 'Flying', 'Psychic']
3               ['Water', 'Ground', 'Rock']
4               ['Water', 'Ground', 'Rock']
                       ...
146              ['Ice', 'Dragon', 'Fairy']
147              ['Ice', 'Dragon', 'Fairy']
148      ['Ice', 'Rock', 'Dragon', 'Fairy']
149                ['Bug', 'Ghost', 'Dark']
150                ['Bug', 'Ghost', 'Dark']
Name: weaknesses, Length: 151, dtype: object

In [7]:
pokemon['multipliers'].value_counts()

[1.79]          2
[1.4]           2
[1.58]          1
[1.48, 1.5]     1
[2.65]          1
               ..
[1.98]          1
[2.27]          1
[2.17, 2.28]    1
[2.31, 2.36]    1
[2.05]          1
Name: multipliers, Length: 68, dtype: int64

In [114]:
pokemon['multipliers'].isnull().sum()

81

In [113]:
pokemon.isnull().sum()

id                 0
num                0
name               0
img                0
type               0
height             0
weight             0
candy              0
candy_count       81
egg                0
spawn_chance       0
avg_spawns         0
spawn_time         6
multipliers       81
weaknesses         0
next_evolution    81
prev_evolution    79
dtype: int64

In [11]:
# 3. Get all Pokemons that have no multipliers at all
pokemon.loc[pokemon['multipliers'].isnull()].groupby('name').size()

name
Aerodactyl    1
Alakazam      1
Arbok         1
Arcanine      1
Articuno      1
             ..
Victreebel    1
Vileplume     1
Weezing       1
Wigglytuff    1
Zapdos        1
Length: 81, dtype: int64

In [13]:
# 4. Get all Pokemons whose spawn time is less than 300 seconds.
pokemon[pokemon['spawn_time'] < '05:00'].groupby('name').size()

name
Abra          1
Arbok         1
Arcanine      1
Beedrill      1
Bellsprout    1
             ..
Tauros        1
Tentacool     1
Venonat       1
Voltorb       1
Weedle        1
Length: 75, dtype: int64